.Cor{
    background-color: rgb(153, 228, 112);
}
header{
    background-color: #46913f;

    padding: 15px;
    text-align: center;
}
.Cors{
    background-color: rgb(153, 228, 112);
}
header{
    background-color: #46913f;

    padding: 15px;
    text-align: center;
}