.Cor{
    background-color: rgb(212, 203, 203);
}
header{
    background-color: #3f8391;

    padding: 15px;
    text-align: center;
}
.Cors{
    background-color: rgb(218, 205, 205);
}
header{
    background-color: #3f8391;

    padding: 15px;
    text-align: center;
}